body {
    margin: 0;
    font-family: Arial;
    background: #f1f3f6;
}

/* الهيدر */
.header {
    background: #131921;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.search-box {
    flex: 1;
    display: flex;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-box button {
    padding: 10px 20px;
    background: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.account a {
    color: #fff;
    text-decoration: none;
}

/* المنتجات */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product-card {
    background: #fff;
    width: 230px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: #b12704;
    font-size: 18px;
    font-weight: bold;
}

.buy-btn {
    background: #ffa41c;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

/* الفوتر */
.footer {
    background: #131921;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
